

header, footer, section, aside {
  background: gray;
  border: 1px solid black;
}
section, aside {
  height: 500px;
  flex: 1;
}
section {
  margin: 0 20px 0 0;
  flex: 2;
  background-image:url('../bg.jpg');
  background-size:cover;
}
section:hover {
  background:orange;
}
header, footer {
  height: 100px;
}

#container {
  margin:20px;
  display: flex;
}

p {
  font-size: 36px;
  font-weight: 900;
  font-family: 'Roboto', Helvetica, Arial;
}